<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PruebasSelenium_Suite">

    <test name="PruebasSelenium_Tests">
      <!--    <parameter name="driverProvider" value="IExplorerDriver" />  
	 	 <parameter name="driverProvider" value="MozillaFirefoxDriver" />  --> 
		 <parameter name="driverProvider" value="GoogleChromeDriver" /> 
	<!--  	  <parameter name="driverProvider" value="MultipleBrowserDriver" />  -->
       <classes>
           <class name="com.eurobits.selenium.tests.imdb.IMDBSeries"/>
<!--
    <class name="com.eurobits.selenium.tests.imdb.Filecrypt_Links" />&ndash;&gt;-->
       </classes></test>
</suite>